<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/index1.css" rel="stylesheet" type ="text/css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>손소독 측정기</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://w7.pngwing.com/pngs/373/218/png-transparent-hand-washing-computer-icons-cleaning-hygiene-wash-photography-hand-logo-thumbnail.png"> 
</head>
<body>
    <img src = "../img/KakaoTalk_20211101_104147487.png">
    <h1>손소독 측정기</h1>
    <h3>손소독이 완료 되었습니다!</h3>
</body>
</html>  